@charset "utf-8";
/* CSS Document */
#content {
	background: url(../images/top_bg.png) repeat-x;
	/*background: url(../images/top_bg1.png) repeat-x;*/
	height: 80px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#content .logo {
	 wdith: 264px;
	 height: 80px;
	 float: left;
}
#content .welcomeAndLogout {
	flaot: right;
	margin: 0px;
	color: #eff;
	font-size: 13px;
	padding-top: 10px;
	text-align: right;
}
#content .welcomeAndLogout .name {
	
}
#content .welcomeAndLogout .logout {
	width: 46px;
	height: 20px;
	border: 0px;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 200px;
}